// BLOG PAGE - GRID SECTION CONTAINING ARTICLE AND ASIDE

.grid_wrapper {
    width: 100%;
    position: relative;
}

.blog_grid {
    width: 100vw;
    height: 160vh;
    display: grid;
    position: absolute;
    top: -300px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.blog_title {
    grid-column: 2/ span 2;
    h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: white;
        line-height: 58px;
        letter-spacing: 9px;
        margin-top: 0;
    }
}

.blog_img_container {
    grid-column: 1/ span 6;
    grid-row: 2/ span 4;
    box-shadow: 10px 10px $boxshadow;
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: 80% 0%;
    }
}

.blog_article_container {
    grid-row: 6/ span 6;
    grid-column: 1/ span 6;
    padding: 30px 30px 30px 70px;
    box-shadow: 10px 10px $boxshadow;
    border-right: 1px solid $boxshadow;
    border-top: 1px solid $boxshadow;
    p:nth-of-type(1) {
        font-style: italic;
        color: $btnblue;
        font-weight:300; 
    }
    h2 {
        color: $spruce;
    }
}

.blog_aside {
    grid-column: 8/ span 4;
    grid-row: 4/ span 8;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    h2 {
        color: $btnblue;
    }
    .aside_img_container {
        grid-column: 2/ span 4;
        grid-row: 1/ span 4;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.aside_text {
    grid-row: 5/ span 3;
    grid-column: 2/ span 5;
}

.aside_list {
    grid-row: 8/ span 2;
    grid-column: 2/ span 5;
    ul {
        list-style: none;
        padding-left: 10px;
    }
    li::before {
        content: "\2022";
        color: $boxshadow;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 8px;
    }
}