@media only screen and (max-width: 1100px){
    header.blog {
        height: 90vh;
    }
    .comments_section_wrapper {
        top: 150vh;
    }
}

@media only screen and (max-width: 940px){
    .comments_section_wrapper {
        top: 155vh;
    }
    .blog_aside {
        grid-column: 7/ span 4;
    }
}

@media only screen and (max-width: 890px){

    header.blog {
        height: 80vh;
    }

    // .grid_wrapper {
    //     padding: 40px;
    //     width: 100%;
    // }

    .blog_grid {
        width: 100vw;
        height: 180vh;
        display: block;
        position: relative;
        top: -300px;
    }

    .blog_title {
       margin-left: 40px;
       h2 {
           margin-bottom: 40px;
       }
    }

    .blog_img_container {
        width: 70%;
        margin-left: 40px;
        margin-top: 0;
    }

    .blog_article_container {
        grid-column: 1/ span 10;
        grid-row: 4/ span 5;
        margin-right: 20px;
        border: none;
    }

    .blog_aside {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
    }

    .aside_img_container {
        display: none;
    }

    .aside_text {
        width: 60%;
        text-align: left;
    }

    .aside_list {
        width: 35%;
        text-align: right;
        margin-right: 40px;
    }

    .comments_section_wrapper {
        display: block;
        width: 100vw;
        height: 30vh;
        position: relative;
        top: -200px;
    }

    .comments_container {
        width: 90%;
    }
}

@media only screen and (max-width: 650px){

    header.blog {
        height: 70vh;
    }

    .blog_aside {
        margin-top: 50px;
        margin-left: 40px;
        display: block;
        justify-content: space-between;
        .aside_text, .aside_list {
            width: 100%;
            text-align: left;
        }
    }

    .comments_section_wrapper {
        display: block;
        width: 100vw;
        height: 300px;
        position: relative;
        top: -20px;
    }
}

@media only screen and (max-width: 550px){
    
    .comments_section_wrapper {
        top: 40px;
    }
}

@media only screen and (max-width: 500px){
    .comments_section_wrapper {
        position: relative;
        top: 100px;
        height: 350px;
    }
}

@media only screen and (max-width: 470px){
    .comments_section_wrapper {
        position: relative;
        top: 250px;
        height: 350px;
    }
}

@media only screen and (max-width: 420px){
    .comments_section_wrapper {
        position: relative;
        top: 350px;
    }
}