.centre_nav_section {
    padding: 100px;
    background: $primary;
}

.nav_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.nav_item {
    border: 1px solid red;
    width: 50%;
    display: flex;
}

.fa_container {
    padding-top: 12px;
    width: 60px;
    margin-right: 5px;
    height: 100%;
    border: 1px solid pink;
}

.fa_border {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    i {
        color: white;
    }
}

.nav_text {
    width: calc(90% - 65px);
}