// CONTACT PAGE MEDIA QUERIES

@media only screen and (max-width: 1150px) {
    .font_awesome_container {
        padding-right: 80px;
    }
}

@media only screen and (max-width: 800px) {

    .contact_header_nav_bar {
        background: rgba(6, 57, 116, 1);
        border-bottom: 2px solid $boxshadow;
        height: 70px;
        position: fixed;
        z-index: 20;
        .logo_container {
            padding-left: 60px;
            h1 {
                margin-top: 7px; 
                margin-left: 0;
             }
        }
    }
  
    .contact_main {
        grid-row: 3;
        display: block;
    }

    nav {
        display: none;
    }

    #toggle_nav:checked + nav {
      display: block;
      background: rgba(6, 57, 116, 0.8);
      position: absolute;
      top: 70px;
      right: 0;
      width: 140px;
      text-align: center;
      width: 200%;
      border-bottom: 2px solid $boxshadow;
      ul {
          padding: 0;
      }
    }

    .contact_nav_container {
        position: relative;
    }

    .burger {
        display: block;
        color: white;
        font-size: 1.5rem;
        position: absolute;
        right: 60px;
        top: 22px;
    }

    .burger:hover {
        color: $secondary;
    }

    .burger:active {
        color: $boxshadow;
    }

    

    .get_in_touch_container {
        grid-column: 2/ span 6;
        grid-row: 1/ span 1;
        padding: 0;
        h2 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 10px;
        }
    }


    .contact_form {
        padding: 40px;
        width: 80%;
        margin: 0 auto;
    }

    #comments_area {
        display: none;
    }

    #mobile_comments {
        display: block;
    }
    .contact_aside {
        width: 80%;
        text-align: center;
        padding-top: 40px;
        margin: 0 auto;
    }
    .font_awesome_container {
        padding: 10px 100px 0;
    }
    footer {
        display: block;
        margin-top: 50px;
    }
} 

@media only screen and (max-width: 500px) {

    #toggle_nav:checked + nav {
        top: 60px;
        li {
            padding: 0;
        }
      }

    .burger {
        top: 17px;
        right: 20px;
        font-size: 1.3rem;
    }

    #name_input, #email_input {
        width: 100%;
        margin: 5px 0 0;
    }

    .font_awesome_container {
        padding: 10px 50px 0;
    }

    .contact_header_nav_bar {
        height: 60px;
        padding-left: 0;
        margin-left: 0;
        .logo_container {
            padding-left: 20px;
        }
    }

    .contact_form {
        width: 90%;
        padding: 20px;
    }

    .logo_container  h1 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-left: 0;
    }
    .get_in_touch_container h2 {
        text-align: left;
    }
}