.main_footer {
    padding-bottom: 0;
    background-color: white;
}

.footer_offer {
    padding: 100px 180px;
    text-align: center;
    h2 {
        font-family: 'Lato', sans-serif;
        color: $spruce;
        letter-spacing: 3.8px;
    }
    p {
        color: $black;
    }
}


.copyright_bar {
    text-align: center;
    background: $black;
    margin-bottom: 0;
    padding-bottom: 0;
    p {
        margin-bottom: 0;
        padding: 10px 0;
        color: white;
    }
}