// MAIN PAGE GALLERY (3 PICS)

.gallery {
    padding: 100px;
    background: $secondary;
}

.gallery_img_box {
    width: 31%;
    img {
        display: block;
        width: 100%;
    }
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
}