@media only screen and (max-width: 1150px) {

    .css_grid {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: $primary;
    }

    #invisible_mobile {
        display: none;
    }

    #invisible_desktop {
        display: block;
        position: static;
        padding: 40px 50px;
    }

    .css_grid_item {
        display: block;
        position: relative;
        width: calc(100% - 200px);
        height: auto;
        background: $secondary;
        margin: 0 100px 60px;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    #footer_background_invisible_desktop {
        width: 100%;
        height: 500px;
        background-image: url(../../images/footer_banner.jpg);
    }

}

@media only screen and (max-width: 900px) {



    .welcome_container .welcome_text {
        width: 70%;
    }

    .nav_wrapper {
        display: block;
    }

    .nav_item {
        width: 100%;
        padding: 40px;
        margin-bottom: 20px;
    }

    .nav_item:nth-child(odd) {
        box-shadow: 5px 0 $boxshadow;
    }

    .nav_item:nth-child(even) {
        box-shadow: -5px 0 $boxshadow;
    }
}

@media only screen and (max-width: 800px) {
    
    .header_nav_bar {
            background: rgba(6, 57, 116, 1);
            border-bottom: 2px solid $boxshadow;
            height: 80px;
            // height: 80px;
            position: fixed;
            z-index: 20;
            #header_burger {
                top: 26px;
            }
            h1 {
                margin-top: 12px;
            }
    }

    .header_nav {
        margin-top: 30px;
    }

    #toggle_nav:checked + nav#drop_nav {
        top: 80px;
        width: 100%;
        height: 80px;
    }

    .visit_guyana {
        padding: 80px 40px 60px 40px;
        .guyana_text_box {
            width: 70%;
        }
        .guyana_img_box {
            height: 100%;
            width: 30%;
            box-shadow: -10px 10px $boxshadow;
            img {
                max-width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }
    }

    .gallery {
        padding: 60px 40px;
    }

    .centre_nav_section {
        padding: 60px 40px;
    }

    .css_grid {
        padding: 0 40px;
    }

    .css_grid_item {
        width: 100%;
        margin: 30px auto;
    }

    #footer_background_invisible_desktop {
        height: 300px;
    }

   .footer_offer {
       padding: 40px;
   }

}

@media only screen and (max-width: 700px) {
    .welcome_container .welcome_text {
        width: 90%;
        h2 {
            font-size: 2rem;
        }
        h1 {
            font-size: 3.5rem;
        }
    }
}

@media only screen and (max-width: 600px) {

    header {
        height: 70vh;
    }

    .welcome_container {
        height: 65%;
    }

    .visit_guyana {
        .guyana_img_box {
            display: none;
        }
        .guyana_text_box {
            width: 100%;
        }
    }

    .gallery {
        .img2 {
            display: none;
        }
        .gallery_img_box {
            width: 48%;
        }
    }
}