.visit_guyana {
    padding: 160px 100px 100px 100px;
    background: $primary;
}

.content_wrapper {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

.guyana_text_box {
    width: 60%;
}

.guyana_img_box {
    height: 100%;
    width: auto;
    border: 1px solid green;
    box-shadow: -20px 20px $boxshadow;
    img {
        display: block;
    }
}