article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%;
  width: 100vw; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #2c2c2c; }

input[type="button"] {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #063974;
  background-color: #063974;
  color: white;
  font-weight: 400;
  padding: 8px 15px 10px;
  border: none;
  letter-spacing: 1px;
  line-height: 32px; }

input[type="button"]:hover {
  background-color: #50e3c2;
  color: #fafffe; }

header {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/home_banner.jpg);
  background-size: cover;
  position: relative; }

h1 {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  color: #063974; }

.header_nav_bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header_nav_bar .logo {
    padding-left: 60px;
    width: 50%; }
    .header_nav_bar .logo h1 {
      color: #50e3c2; }
  .header_nav_bar .header_nav_container {
    padding-right: 60px;
    width: 50%; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 42px; }
  .header_nav li {
    list-style: none;
    text-decoration: none;
    display: block; }
    .header_nav li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700; }

.header_nav li:hover a {
  color: #50e3c2; }

.sunglasses_img_container {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -8%; }
  .sunglasses_img_container img {
    width: 100%;
    height: auto;
    display: block; }

.welcome_container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10; }
  .welcome_container .welcome_text {
    width: 40%;
    text-align: left;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: absolute; }
    .welcome_container .welcome_text h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      color: #0c5f4c;
      margin-bottom: 0;
      margin-left: 15px; }
    .welcome_container .welcome_text h1 {
      font-size: 4rem;
      padding: 0;
      margin: 0; }

.visit_guyana {
  padding: 120px 100px 100px 100px;
  background: #fafffe; }
  .visit_guyana h2 {
    color: #0c5f4c;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3.8px; }

.guyana_text_box {
  width: 60%;
  padding-right: 10px; }

.guyana_img_box {
  height: 100%;
  width: auto;
  -webkit-box-shadow: -20px 20px #50e3c2;
  box-shadow: -20px 20px #50e3c2; }
  .guyana_img_box img {
    display: block; }

.gallery {
  padding: 100px;
  background: #d2f9f1; }

.gallery_img_box {
  width: 31%; }
  .gallery_img_box img {
    display: block;
    width: 100%; }

.content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.centre_nav_section {
  padding: 100px 100px 70px 100px;
  background: #fafffe; }

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav_item h2 {
    font-family: 'Lato', sans-serif;
    color: #0c5f4c;
    letter-spacing: 3.2px; }

.fa_container {
  padding-top: 20px;
  width: 60px;
  margin-right: 5px;
  height: 100%; }

.fa_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #d2f9f1;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .fa_border i {
    color: white; }

.nav_text {
  width: calc(90% - 65px); }

.css_grid {
  height: 200vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10% 10% 5% 5% 5% 5% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 5% 5% 5% 5% 10% 10% 10% 10%;
  -ms-grid-rows: 2.5% 2.5% 2.5% 2.5% 5% 5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 5% 5% 2.5% 2.5% 2.5% 2.5% 20% 20%;
  grid-template-rows: 2.5% 2.5% 2.5% 2.5% 5% 5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 2.5% 5% 5% 2.5% 2.5% 2.5% 2.5% 20% 20%; }

.css_grid h2 {
  color: #063974;
  letter-spacing: 3.8px;
  font-family: 'Lato', sans-serif; }

#invisible_desktop {
  display: none; }

.overlap_background_colour {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ span 12;
  background: #fafffe; }

.grid_background_colour {
  -ms-grid-row: 2;
  -ms-grid-row-span: 17;
  grid-row: 2/ span 17;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ span 12;
  background-color: #d2f9f1;
  z-index: -1; }

.item_one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / span 8; }
  .item_one .css_grid_img_container {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 10px 10px #50e3c2;
    box-shadow: 10px 10px #50e3c2; }
    .item_one .css_grid_img_container img {
      width: 100%;
      height: 100%;
      display: block; }

.item_four {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
  -ms-grid-row: 12;
  -ms-grid-row-span: 8;
  grid-row: 12 / span 8; }
  .item_four .css_grid_img_container {
    width: 100%;
    height: auto;
    -webkit-box-shadow: -10px 10px #50e3c2;
    box-shadow: -10px 10px #50e3c2; }
    .item_four .css_grid_img_container img {
      max-width: 100%;
      height: 100%;
      display: block; }

.item_two {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/ span 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  grid-row: 3/ span 8;
  height: 100%;
  padding: 40px 50px; }
  .item_two .css_grid_text_container {
    width: 100%;
    height: 100%; }

.item_three {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 10;
  -ms-grid-row-span: 9;
  grid-row: 10/ span 9;
  height: 100%;
  text-align: right;
  padding: 40px 50px; }
  .item_three .css_grid_text_container {
    width: 100%;
    height: 100%; }

.grid_footer_banner {
  background-image: url(../images/footer_banner.jpg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ span 12;
  -ms-grid-row: 19;
  -ms-grid-row-span: 4;
  grid-row: 19/ span 4;
  background-size: cover;
  z-index: -1; }

.main_footer {
  padding-bottom: 0;
  background-color: white; }

.footer_offer {
  padding: 100px 180px;
  text-align: center; }
  .footer_offer h2 {
    font-family: 'Lato', sans-serif;
    color: #0c5f4c;
    letter-spacing: 3.8px; }
  .footer_offer p {
    color: #2c2c2c; }

.copyright_bar {
  text-align: center;
  background: #2c2c2c;
  margin-bottom: 0;
  padding-bottom: 0; }
  .copyright_bar p {
    margin-bottom: 0;
    padding: 10px 0;
    color: white; }

header.blog {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/blog_banner.jpg);
  background-size: cover;
  position: relative; }

.grid_wrapper {
  width: 100%;
  position: relative; }

.blog_grid {
  width: 100vw;
  height: 160vh;
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: -300px;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }

.blog_title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/ span 2; }
  .blog_title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    line-height: 58px;
    letter-spacing: 9px;
    margin-top: 0; }

.blog_img_container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/ span 4;
  -webkit-box-shadow: 10px 10px #50e3c2;
  box-shadow: 10px 10px #50e3c2; }
  .blog_img_container img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 80% 0%;
    object-position: 80% 0%; }

.blog_article_container {
  -ms-grid-row: 6;
  -ms-grid-row-span: 6;
  grid-row: 6/ span 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  padding: 30px 30px 30px 70px;
  -webkit-box-shadow: 10px 10px #50e3c2;
  box-shadow: 10px 10px #50e3c2;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2; }
  .blog_article_container p:nth-of-type(1) {
    font-style: italic;
    color: #063974;
    font-weight: 300; }
  .blog_article_container h2 {
    color: #0c5f4c; }

.blog_aside {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/ span 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 8;
  grid-row: 4/ span 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }
  .blog_aside h2 {
    color: #063974; }
  .blog_aside .aside_img_container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/ span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/ span 4; }
    .blog_aside .aside_img_container img {
      width: 100%;
      height: 100%;
      display: block;
      -o-object-fit: cover;
      object-fit: cover; }

.aside_text {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/ span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/ span 5; }

.aside_list {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/ span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/ span 5; }
  .aside_list ul {
    list-style: none;
    padding-left: 10px; }
  .aside_list li::before {
    content: "\2022";
    color: #50e3c2;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 8px; }

.visually_hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.comments_section_wrapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 140vh; }
  .comments_section_wrapper input[type="text"], .comments_section_wrapper input[type="email"] {
    border: none;
    border-bottom: 2px solid #50e3c2;
    width: calc(50% - 25px); }
  .comments_section_wrapper input:nth-of-type(2) {
    margin-left: 40px; }

.comments_container {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.comment_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comment_box .comment_img {
    padding-top: 26px;
    width: 10%; }
    .comment_box .comment_img img {
      width: 100%;
      height: auto;
      display: block; }
  .comment_box .comment_text {
    width: 90%;
    padding-left: 20px; }

textarea {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #50e3c2;
  padding-top: 20px;
  padding-left: 20px;
  color: grey; }

form {
  margin-top: 30px; }

#post_comment_button {
  width: 100%;
  margin: 20px 0 100px 0; }

.body_grid {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 120vh;
  -ms-grid-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 5% 5%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 5% 5%; }

.contact_header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/ span 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/ span 5;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/contact_banner.jpg); }

.contact_header_nav_bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo_container {
  width: 50%;
  padding-left: 80px; }
  .logo_container h1 {
    color: #50e3c2; }

.contact_nav_container {
  width: 50%; }
  .contact_nav_container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 100px 0 100px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .contact_nav_container ul li {
      display: block;
      text-decoration: none;
      list-style: none;
      padding: 0 20px; }
      .contact_nav_container ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase; }

.contact_nav_container li a:hover {
  color: #50e3c2; }

.burger, .burger_checkbox {
  display: none; }

.contact_main {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3/ span 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/ span 10;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 10% 10% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 20% 20% 20% 20%;
  -ms-grid-columns: 5% 5% 10% 10% 20% 10% 10% 10% 10% 5% 5%;
  grid-template-columns: 5% 5% 10% 10% 20% 10% 10% 10% 10% 5% 5%; }

.get_in_touch_container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/ span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/ span 8; }

.get_in_touch_container h2 {
  color: white;
  margin-left: 40px;
  font-size: 3rem;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif; }

.contact_form {
  background: white;
  padding: 60px 40px 40px 40px;
  -webkit-box-shadow: 10px 10px #50e3c2;
  box-shadow: 10px 10px #50e3c2; }
  .contact_form input[type="button"] {
    width: 100%;
    margin-top: 20px; }
  .contact_form input[type="text"] {
    margin-right: 10px;
    width: calc(50% - 15px); }
  .contact_form input[type="email"] {
    margin-left: 10px;
    width: calc(50% - 15px); }

#mobile_comments {
  display: none; }

#name_input, #email_input {
  border: none;
  border-bottom: 1px solid #50e3c2; }

.contact_aside {
  padding-top: 80px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/ span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/ span 3; }
  .contact_aside p {
    line-height: 10px; }
  .contact_aside p:nth-of-type(1) {
    font-weight: bold;
    line-height: 20px;
    font-size: 1.2rem; }
  .contact_aside p:nth-of-type(2) {
    line-height: 20px; }

.font_awesome_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 180px; }
  .font_awesome_container i:hover {
    color: #50e3c2; }

footer {
  -ms-grid-row: 12;
  grid-row: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
  width: 100%;
  background: #2c2c2c;
  text-align: center;
  z-index: -1; }
  footer p {
    color: white;
    line-height: 18px; }

@media only screen and (max-width: 1150px) {
  .font_awesome_container {
    padding-right: 80px; } }

@media only screen and (max-width: 800px) {
  .contact_header_nav_bar {
    background: #063974;
    border-bottom: 2px solid #50e3c2;
    height: 70px;
    position: fixed;
    z-index: 20; }
    .contact_header_nav_bar .logo_container {
      padding-left: 60px; }
      .contact_header_nav_bar .logo_container h1 {
        margin-top: 7px;
        margin-left: 0; }
  .contact_main {
    -ms-grid-row: 3;
    grid-row: 3;
    display: block; }
  nav {
    display: none; }
  #toggle_nav:checked + nav {
    display: block;
    background: rgba(6, 57, 116, 0.8);
    position: absolute;
    top: 70px;
    right: 0;
    width: 140px;
    text-align: center;
    width: 200%;
    border-bottom: 2px solid #50e3c2; }
    #toggle_nav:checked + nav ul {
      padding: 0; }
  .contact_nav_container {
    position: relative; }
  .burger {
    display: block;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 60px;
    top: 22px; }
  .burger:hover {
    color: #d2f9f1; }
  .burger:active {
    color: #50e3c2; }
  .get_in_touch_container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/ span 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ span 1;
    padding: 0; }
    .get_in_touch_container h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px; }
  .contact_form {
    padding: 40px;
    width: 80%;
    margin: 0 auto; }
  #comments_area {
    display: none; }
  #mobile_comments {
    display: block; }
  .contact_aside {
    width: 80%;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto; }
  .font_awesome_container {
    padding: 10px 100px 0; }
  footer {
    display: block;
    margin-top: 50px; } }

@media only screen and (max-width: 500px) {
  #toggle_nav:checked + nav {
    top: 60px; }
    #toggle_nav:checked + nav li {
      padding: 0; }
  .burger {
    top: 17px;
    right: 20px;
    font-size: 1.3rem; }
  #name_input, #email_input {
    width: 100%;
    margin: 5px 0 0; }
  .font_awesome_container {
    padding: 10px 50px 0; }
  .contact_header_nav_bar {
    height: 60px;
    padding-left: 0;
    margin-left: 0; }
    .contact_header_nav_bar .logo_container {
      padding-left: 20px; }
  .contact_form {
    width: 90%;
    padding: 20px; }
  .logo_container h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0; }
  .get_in_touch_container h2 {
    text-align: left; } }

@media only screen and (max-width: 1150px) {
  .css_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    background-color: #fafffe; }
  #invisible_mobile {
    display: none; }
  #invisible_desktop {
    display: block;
    position: static;
    padding: 40px 50px; }
  .css_grid_item {
    display: block;
    position: relative;
    width: calc(100% - 200px);
    height: auto;
    background: #d2f9f1;
    margin: 0 100px 60px;
    text-align: center; }
    .css_grid_item img {
      width: 100%;
      height: auto;
      display: block; }
  #footer_background_invisible_desktop {
    width: 100%;
    height: 500px;
    background-image: url(../../images/footer_banner.jpg); } }

@media only screen and (max-width: 900px) {
  .nav_wrapper {
    display: block; }
  .nav_item {
    width: 100%; } }
